.SC {
    margin: 0px auto;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}



.fbtn {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
}

.bdang {
    background-color: orangered;
    border: none;
    border-radius: 6px;
    height: 30px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.bdang:active {
    background-color: aqua;
    color: black;
}


.sort {
    font-size: medium;
    border-bottom: 1px solid;
    padding-bottom: 6px;
}

.sf {
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sort1 {
    display: flex;
    align-items: center;
}